#mainContent{
  border-radius: 1px solid red;
  background-color: blue;
}

.queueView{
  border: 1px dotted lightblue;
  background-color: lightblue;
}
.patientWaiting{
    border: 2px solid,
        background-coloractive
        margin
        padding:
}